<mat-sidenav-container fullscreen (backdropClick)="closeSidenav()">
    <mat-toolbar color="primary">
        <div fxLayout="row wrap" fxLayoutAlign="center center">
          <div >
            <button mat-icon-button (click)="openSidenav()">
              <mat-icon>menu</mat-icon>
            </button>
          </div>
          <div >
            {{title}}
          </div>
        </div>
        <ng-content></ng-content>
    </mat-toolbar>
  <mat-sidenav #sidenav
    [opened]="showSidenav$ | async"
    (keydown.escape)="closeSidenav()"
    (closedStart)="closeSidenav()"
    >
    <app-sidenav
      (closeMenu)="closeSidenav()">
    </app-sidenav>
  </mat-sidenav>

  <router-outlet></router-outlet>
</mat-sidenav-container>